header{
    position : fixed;
    top: 0;
    left: 0;right: 0;
    background-color:#fff;
    z-index: 100;
}
.side-bar__menu{
    position: fixed;
    width: 16%;
    height: 100vh;
    padding-top: 13px;
    padding-right: 5px;
    overflow-y: auto;
    transform: translateX(-100%);
    transition:all 0.2s linear;
    z-index: 999;
    background-color: #fff;
    top: 0;

}
.side-bar__menu.active{
    transform: translateX(0%)
}
.side-bar__menu::-webkit-scrollbar
{
	width: 7px;
	background-color: transparent;
    visibility : hidden;
    opacity: 0;
    transition: 0.2s linear;
}
.side-bar__menu::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #ccc;
    visibility : hidden;
    opacity: 0;
    transition: 0.2s linear;
}
.side-bar__menu:hover::-webkit-scrollbar-thumb{
    visibility: visible;
    opacity: 1;
}
.side-bar__menu:hover::-webkit-scrollbar{
    visibility: visible;
    opacity: 1;
}
.star-menu{
    position: relative;
    z-index: 100;
}
.side-bar__modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0,0,0,.5);
    z-index: 101;
    display: none;
}
.side-bar__modal.active{
    display: block;
}
.side-bar--active {
    padding: 0px 23px 15px;
}
.video-wrap{
    width: 100%;
    height: 200vh;
    padding : 80px 72px
}
/* ---video-content */
.video-section__content{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
    padding-bottom: 17px;
    border-bottom : 1px solid rgba(0,0,0,0.1)
}

.video-section__content-hagtag{
    display : flex;
    align-items : center;
    margin-bottom: 5px;
}
.video-section__content-hagtag span{
    color :#065fd4;
    font-size: 12px;

}
.video-section__content-name{
    font-size: 18px;
    color : var(--text-color);
    font-weight: 400;
    margin-bottom: 15px;
}
.video-section__content-total{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.video-section__content-total span{
    font-size: 14px;
    color : #606060
}

.video-section__content-total--left{
    display : flex;
    align-items: center;

}

.video-section__content-total--right{
    display : flex;
    align-items: center;
}
.total-right__icon{
    display : flex;
    align-items: center;
}
.total-right__icon:not(:last-child){
    margin-right: 20px
}
.total-right__icon span{
    margin-left: 5px;
    color :var(--text-color);
    font-weight: 500;
}
.video-section__chanel{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.video-section__sub{
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.video-section__sub-img{
    display: flex;
    align-items:center;
}
.video-section__sub-img img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover
}
.video-section__sub-info{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.chanel-name{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color : var(--text-color);
    line-height: 25px;
}
.video-section__sub-info > span{
    font-size: 12px;
    color : #606060
}
.video-section__sub-btn{
    padding : 10px 16px;
    background-color : #cc0000;
    border-radius :2px
}
.video-section__sub-btn span{
    font-size: 14px;
    font-weight: 500;
    color : #fff
}
.video-section__desc{
    padding : 2% 7%;
}
.video-section__desc p{
    font-size: 14px;
    color : var(--text-color);
    margin-bottom: 5px;
}
.video-section__desc span{
    color : #065fd4
}
.video-section__desc-showmore{
    padding : 0 7%;
    cursor: pointer;
    margin-top: 15px;
}
.video-section__desc-showmore:hover span{
    color : #000
}
.video-section__desc-showmore span{
    font-size: 14px;
    color :#606060;
    font-weight: 500;
}
/* ----Comment----- */
.video-section__comment{
    width: 100%;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
}
.video-section__comment-num{
    display: flex;
    align-items :center;
}
.video-section__comment-num p{
    font-size: 16px;
    font-weight: 400;
    color :var(--text-color)
}
.sort-by{
    display: flex;
    align-items :center;
    margin-left: 30px;
}
.sort-by span{
    font-size: 14px;
    font-weight: 500;
    color :var(--text-color);
    margin-left: 5px;
}
.video-section__comment-input{
    display :flex;
    flex-direction: column;
    margin-top: 25px;
}
.video-section__comment-avt{
    display :flex;
    align-items: start;
}
.video-section__comment-avt img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}
.video-section__comment-avt input{
    flex : 1;
    line-height: 25px;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    outline: none;
    transition : all 0.2s ease-in-out;
}
.video-section__comment-avt input::placeholder{
    font-size: 15px;
}
.video-section__comment-btn{
    display: flex;
    align-items: center;
    justify-content:end;
    transform: translateY(-20%);
}
.cancel-comment,
.submit-comment{
    padding : 10px 16px;
    font-size: 14px;
    color : #606060;
    font-weight: 500;
    letter-spacing: 0.5px;
    cursor: pointer;
}
.submit-comment{
    background-color :rgba(0,0,0,0.05);
    margin-left: 8px;
}
.comment-input.active{
    border-bottom: 2px solid rgba(0,0,0,0.6);
}
/* ----Video lisst---*/
.video-section__list{
    display: flex;
    flex-direction: column;
}
.video-section__item{
    display: flex;
    align-items: start;
    margin-bottom: 10px;
}
.video-section__item-img{
    width: 45%;
    height: 94px;
}
.video-section__item-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video-section__item-content{
    width: 40%;
    margin-left: 10px;
}
.video-section__item-content-name{
    font-size: 14px;
    font-weight: 500;
    color : var(--text-color);
    line-height: 19px;
    display : -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow :hidden;
    max-height : 40px;
    margin-bottom: 5px;
}
.video-section__item-content-author{
    font-size: 12px;
    color : #606060;
    font-weight: 400;
    display: flex;
    align-items : center
}
.video-section__item-content-view span{
    font-size: 11px;
    color : #606060;
    font-weight: 400;
}
.video-section__desc--showmore{
    padding : 0 7%;
    width: 50%;
    display: none;
}
.video-section__desc--showmore.active{
    display: block;
}
.video-section__desc--showmore p{
    font-size: 14px;
    color : var(--text-color);
    line-height: 20px;
}
.video-section__desc--showmore span{
    color : #065fd4;
    line-height: 20px;
    margin-bottom: 10px;
}

/* Comment */
.video-section__comment-people{
    display: flex;
    align-items: flex-start;

}
.people-avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}
.people-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.people__comment-content{
    display: flex;
    flex-direction: column;
    justify-content: center
}
.people__comment-name--tag{
    display: flex;
    align-items: center;
    font-size: 12px;
    color : #000000;
    margin-bottom: 7px;
}
.people__comment-name--time{
    display: flex;
    align-items: center;
    
}
.people__comment-name--time span:first-child{
    display: flex;
    align-items: center;
    margin-right: 4px;
    padding : 2px 10px;
    background-color: #888888;
    border-radius: 17px;
    color : #fff;
    font-size: 13px;
    font-weight: 500;
    line-height: 17px;

}
.people__comment-name--time span:first-child > svg{
    margin-left: 5px;
    fill : #fff
}
.people__comment-name--time span:last-child{
    font-size: 12px;
    color : #606060
}
.people__comment-name-title{
    margin-top: 5px;
}
.people__comment-name-title p{
    font-size: 14px;
    color : #030303;
    line-height: 20px;
}
.people__comment-icon{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.people__comment-like{
    display: flex;
    align-items: center;
}
.people__comment-like:first-child{
    margin-right: 15px;
}
.people__comment-icon > span,
.people__comment-like span{
    margin-left: 5px;
    font-size: 12px;
    color : #606060;
}
.people__comment-showmore{
    display: flex;
    align-items: center;
    margin-top: 10px;
    
}
.people__comment-showmore span{
    margin-left: 7px;
    font-size: 14px;
    color : #888888;
    font-weight: 500;
}
.people__comment--hide{
    display: flex;
    align-items: flex-start;
    margin-top: 15px;
    
}
.people__comment--hide-wrap{
    display: none;
}
.people__comment--hide-wrap.active{
    display: block;
}
.people__comment--hide-img{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.people__comment--hide-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.people__comment--hide-comment> p:first-child > span:first-child{
    font-size: 13px;
    color: #000;
    font-weight: 500;

}
.people__comment--hide-comment> p:first-child > span:last-child{
    font-size: 12px;
    margin-left: 3px;
    font-weight: 300;
    color :#606060
}
#comments{
    font-size: 14px;
    color :#030303;
    margin-top: 5px;

}
.people__comment--hide-icon{
    display: flex;
    align-items: center;
    margin-top: 10px;
}